body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #d6500d, #5f1a45);
  display: flex;
  text-align: center;
  justify-content: center;
  border: 3px ridge rgb(216, 212, 212);
  padding: 10px;
  margin: 50px;

}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #f5f5f5;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #f7fbff;
}

select,
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #28485f;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;

}

button:hover {
  background-color: #555f66;
}

.todo-card {
  border: 1px solid #34495e;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
}

.todo-card h3 {
  color: #7a8da0;
}

.todo-card p {
  color: #273033;
}

.todo-card span {
  color: #000000;
  cursor: pointer;
}

.todo-card button {
  background-color: #e74c3c;
  color: #111111;
  padding: 5px;
  margin-right: 5px;
}

.todo-card button:hover {
  background-color: #c0392b;
}